/* 
	COLORS
	text		#1f1f1f
	header	  	#d5dce2;
	navbar item rgba(255, 255, 255, 0.5)
		  hover #969696
	content		rgba(228, 232, 236, 1);


	FONT
	title		"Futura", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif 
	main		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

		NOTE: FUTURA DOESN'T WORK ON WINDOWS!, this is due to Microsoft being greedy and not including Futura in it's OS.
											   i'll need to fix that, because the Swong logo uses Futura in it.
*/




/* GENERAL */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}





/* HEADER */
header {
	height: 50px;
	width: 100%;
	min-width: 650px;
	
	position: relative;

	background-color: #d5dce2;
}

header img {
	height: 100%;
}

header p {
	margin-left: 20px;

	padding-bottom: 30px;
	vertical-align: center;
	line-height: 40px;

	float: left;


	font-family: "Futura", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 35px;

	color: #1f1f1f;
}

#navbar {
	float: right;
}

#navbar div {
	height: 50px;
	width: 100px;

	text-align: center;
	vertical-align: center;
	line-height: 50px;


	display: inline-block;

	font-family: "Futura", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

	background-color: rgba(255, 255, 255, 0.5);

	/* fade background color with a nice transition in the navbar */
	-webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

#navbar div:hover {

	color: white;
	background-color: #969696;
}
#navbar a {
	color: #1f1f1f;
}	
#navbar a:visited {
	color: black;
}	

/* CONTENT */
h1 {
	text-align: center;
	font-size: 60px;
	font-family: "Futura", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h2 {
	font-size: 30px;
}
#content .section {
	max-width: 800px;
	margin: 0 auto;

	padding: 0 50px;

	background-color: rgba(228, 232, 236, 1);
}
#content .section h1 {
	padding-top: 40px;
	padding-bottom: 20px;

	color: #1f1f1f;
}


#content .section p {
	padding-bottom: 20px;

	color: #1f1f1f;
}



/* SCREENSHOTS */
.screenshot {
	position: relative;
	margin-bottom: 50px;
}
.screenshot img {
	width: 100%;
}

.screenshot .description {
	width: 100%;
	height: auto;
	z-index: 100;
	position: absolute;
	bottom: 0;

	background-color: rgba(0, 0, 0, 0.5);
}
#content .screenshot .description p {
	text-align: center;
	font-size: 20px;
	color: white;
}

/* FOOTER */